{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% block head_links %} 

<title>Log In</title>

{% endblock %}

{% block head_title %}{% trans "Log In" %} {% endblock %}




{% block content %}

{% block messages %}
{% if messages %}
<div>
    <ul>
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}


<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
      <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
          <div class="col-first">
            <h1>Login</h1>
            <nav class="d-flex align-items-center">
              <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
              <a href="category.html">Login</a>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- End Banner Area -->
  
    <!--================Login Box Area =================-->
    <section class="login_box_area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="login_box_img">
              <img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
              <div class="hover">
                <h4>New to our website?</h4>
                <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                <a class="primary-btn" href="/accounts/signup">Create an Account</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="login_form_inner">
              <h3>Log in to enter</h3>
              <form class="container-fluid text-center" id="login_form" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}
                  
                  {{ form.as_p }}
                
                  {% if redirect_field_value %}
                  
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  
                  {% endif %}
                  
                  <button  class="btn btn-outline-primary " type="submit">{% trans "Sign In" %}</button>
                
                </form>                
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Login Box Area =================-->
{% endblock %}