{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block head_links %} 

<title>Signup</title>

{% endblock %}

{% block content %}

{% block messages %}
{% if messages %}
<div>
    <ul>
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}


<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
      <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
          <h1>Register</h1>
          <nav class="d-flex align-items-center">
            <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
            <a href="category.html">Register</a>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Banner Area -->

  <!--================Login Box Area =================-->
  <section class="login_box_area section_gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="login_box_img">
            <img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
            <div class="hover">
              <h4>Already have an account?</h4>
              <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
              <a class="primary-btn" href="/accounts/login">Login</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="login_form_inner">
            <form class="container-fluid text-center" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
              
                {{ form.as_p }}
              
              
                <input type="hidden" name="{{ redirect_field_name }}" value="/" />
                
                
                <button class="btn btn-outline-primary btn-lg" type="submit">{% trans "Sign Up" %}</button>
              </form>
  
            </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Login Box Area =================-->
{% endblock %}
