{% extends "account/base.html" %}
{% load static %}
{% load mathfilters %}
{% block head_links %} 

<title>Cart</title>
<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">

{% endblock %}

{% block content %}
<!-- <div class="container-fluid" style="margin: 200px 0px">
        <center><h2>Your Cart</h2>
            <br>
{% if cart_list|length == 0%}
<center><h3>Cart is Empty!</h3></center>
{% else %}
<table border="1px" style="width:600px;text-align: center;">
    <tr>
        <td>Product</td>
        <td>MRP</td>
        <td>Cost</td>
        <td>Quantity</td>
        <td>Remove Item</td>
    </tr>
    {% for item in cart_list %}
    <tr>
        <td>{{item.product}}</td>
        {% if not user.is_authenticated %}
        <td>{{item.mrp}}</td>
        <td class="cost">{{item.mrp|mul:item.quantity}}</td>
        {%else%}
        <td>{{item.product.mrp}}</td>
        <td class="cost">{{item.product.mrp|mul:item.quantity}}</td>
        {%endif%}
        <td>
        {% if user.is_authenticated %}
        <form action="{% url 'product:update_cart' item.id %}" method="post">
            {% csrf_token %}
            <select name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select> &nbsp;
            <button>Update</button>
        </form>
        {%else%}
        <select name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        </select>
        <button class="update" onclick="update('{{item.id}}',this)">Update</button>
        {%endif%}
    </td>
    <td>
    {% if user.is_authenticated %}
        <form action="{% url 'product:remove_cart_product' item.id %}" method="post">
            {% csrf_token %}
            <button>Remove product</button>
        </form>
    {%else%}
        <button  onclick="remove('{{item.id}}')">Remove product</button>
    {%endif%}
    </td>
    </tr>
    {% endfor %}
</table>

<p>Total - Rs <span id="total"></span></p>
    
    <p><button onclick="checkout()">Checkout</button></p>
    {% endif %}

</center>
</div> -->



   <!-- Start Banner Area -->
   <section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div id="main">
    {% include "product/partial-cart.html" %}
</div>

<script>
    function checkout() {
        localStorage.clear();
        window.location.href="{% url 'product:checkout' %}";
    }
</script>


<script>
    function update(id,obj) {
        let quantity = $(obj).siblings()[1].childNodes[0].innerText;
        // console.log(obj.previousElementSibling.value)
        let cart=JSON.parse(localStorage.getItem("cart"))
        cart.forEach(element => {
            if(element.id==id){
                element.quantity=quantity
            }            
        }); 
        localStorage.setItem('cart',JSON.stringify(cart))
        window.location.href="{% url 'product:cart' %}?cart="+localStorage.getItem("cart")
    }

    function remove(id,obj){
        let cart=JSON.parse(localStorage.getItem("cart"))
        cart=cart.filter(item=>{
            if(item.id!=id) return item;
        })
        localStorage.setItem('cart',JSON.stringify(cart))
        window.location.href="{% url 'product:cart' %}?cart="+localStorage.getItem("cart")
    }
</script>


<script>
    function updateCart(obj,id) {
        quantity=$(obj).siblings()[1].childNodes[0].innerText;
        $.ajax({
            url:'/mall/'+id+'/update',
            type: "POST",
            data: {quantity:quantity,csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(resultData) { 
                $('#main').html(resultData);
                alert('success')
                $('select').niceSelect();
            }
        })
    }

    function deleteCart(id) {
        $.ajax({
            url:'/mall/'+id+'/delete',
            type: "POST",
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(resultData) { 
                $('#main').html(resultData);
                $('select').niceSelect();
            }
        })
    }



</script>
<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>

<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
{% endblock %}