{% extends "account/base.html" %}
{% load static %}
{% block head_links %} 

<title>Details</title>

{% endblock %}

{% block content %}
<!-- <div class="container-fluid">
<h3>{{product_details.name}}</h3>
<ul>
    <li>Cost - {{product_details.mrp}}</li>
    <img width="200px" height="200px" src="{{product_details.image.url}}" alt="Not Found">
    {% if not user.is_authenticated %}
    <div>
        <button onclick='addToCart("{{product_details.id}}",this)' id="add">Add to Cart</button>
        <a href="#" onclick="viewCart()" style="display: none" id="cart">View Cart</a>
    </div>
    {% else %}
        <form action="{% url 'product:add' %}" method="post">
            {% csrf_token %}
            <input type="text" hidden name="product" value="{{product_details.id}}">
            <button id="add">Add to Cart</button>
        </form>
        <a href="{% url 'product:cart' %}" style="display: none" id="cart">View Cart</a>
    {% endif %}


</ul>
</div> -->

<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
            <div class="container">
                <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                    <div class="col-first">
                        <h1>Product Details Page</h1>
                        <nav class="d-flex align-items-center">
                            <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                            <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                            <a href="single-product.html">product-details</a>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
<!-- End Banner Area -->
    
{% include "product/partial-details.html" %}

{% if not user.is_authenticated %}
<script>
    if(localStorage.getItem("cart")){
        let cart=JSON.parse(localStorage.getItem("cart"))
        cart.forEach(element => {
            if(element.id=="{{product_details.id}}"){
                document.getElementById('add').style.display="none";
                document.getElementById('cart').style.display="inline";
            }            
        });
        // document.getElementById('add').style.display="none";
        // document.getElementById('cart').style.display="inline";
    }
    function viewCart() {
            if(localStorage.getItem("cart")){
            window.location.href="{% url 'product:cart' %}?cart="+localStorage.getItem("cart")
            }else{
            window.location.href="{% url 'product:cart' %}"
            }
    }   

    function addToCart(id,btn) {
        console.log(id)
        cart=[]
        if(localStorage.getItem("cart")){
            cart=JSON.parse(localStorage.getItem("cart"))
            cart.push({
                product:"{{product_details.name}}",
                id:"{{product_details.id}}",
                mrp:"{{product_details.mrp}}",
                quantity:1
            })
        }
        else{
            cart.push({
                product:"{{product_details.name}}",
                id:"{{product_details.id}}",
                mrp:"{{product_details.mrp}}",
                quantity:1
            })
        }
        localStorage.setItem('cart',JSON.stringify(cart))
        btn.style.display="none"
        document.getElementById('cart').style.display="inline";
    }
</script>

{% endif %}

<script>
    function addcart() {
        $.ajax({
            url:"{% url 'product:add' %}",
            type: "POST",
            data: {product:$("#p_id").val(),csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(resultData) { 
                alert("Sucess");
                $('#main').html(resultData);
    
            }
        })
    }
</script>
    
{% endblock %}