{% load mathfilters %}

<html>
    <head>
        <title>Title</title>
        <style type="text/css">
            body {
                font-weight: 200;
                font-size: 14px;
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;  
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
            .total{
                text-align: right;
            }
        </style>
    </head>
    <body>
        <div class='wrapper'>
            <div class='header'>
                <p class='title'>Invoice #{{order.ref_code}} </p>
            </div>
            <p>Date {{order.created_at}} </p>
        <div>
        <center>
            <div class='details'>
                <table border="1px" style="width:400px;text-align: center;">
                    <tr>
                        <td>Product</td>
                        <td>MRP</td>
                        <td>quantity</td>
                        <td>Cost</td>
                    </tr>
                    {% for item in order.orderdetails_set.all %}
                    <tr>
                        <td>{{item.product}}</td>
                        <td>{{item.product.mrp}}</td>        
                        <td>{{item.quantity}}</td>        
                        <td>{{item.product.mrp|mul:item.quantity}}</td>        
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </center>
    </div>
    <div class='header'>
        <p class='title'>
             <span class="total">Total - Rs {{order.amount}} </span>
        </p>
    </div>
</body>
</html>