{% extends "account/base.html" %}

{% block head_links %} 

<title>Order</title>

{% endblock %}

{% block content %}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Order</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Fashon Category</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    
<div class="container-fluid">

    <center>
        <br>
{% if order_list|length == 0%}
<center><h3>No orders</h3></center>
{% else %}
<table border="1px" style="width:600px;text-align: center;">
    <tr>
        <td>Date</td>
        <td>Reference Code</td>
        <td>Amount</td>
        <td>Status</td>
        <td>View Details</td>
    </tr>
    {% for item in order_list %}
    <tr>
        <td>{{item.created_at}}</td>
        <td>{{item.ref_code}}</td>
        <td>{{item.amount}}</td>        
        <td>{{item.status}}</td>        
        <td><a href="{% url 'product:order_detail' item.id %}"><button>View Order Details</button></a></td>        
    </tr>
    {% endfor %}
</table>
</div>
<br>
{% endif %}
{% endblock %}