{% extends "account/base.html" %}
{% load mathfilters %}
{% block head_links %} 

<title>Order Details</title>

{% endblock %}

{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Order Tracking</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Fashon Category</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
 
    <div>
        <a style="float: right;margin: 20px;" href="{% url 'product:invoice' order.id %}"><button>Download Invoice</button></a>
    </div>

<div class="container-fluid" style="margin: 80px 0;">
<center>
    <br>
    <p>Invoice #{{order.ref_code}} </p>
    <table border="1px" style="width:600px;text-align: center;">
        <tr>
            <td>Product</td>
            <td>MRP</td>
            <td>quantity</td>
            <td>Cost</td>
        </tr>
        {% for item in order.orderdetails_set.all %}
        <tr>
            <td>{{item.product}}</td>
            <td>{{item.product.mrp}}</td>        
            <td>{{item.quantity}}</td>        
            <td>{{item.product.mrp|mul:item.quantity}}</td>        
        </tr>
        {% endfor %}
    </table>
    <p>Total - Rs {{order.amount}} </p>
    <p>Status - {{order.status}} </p>
</center>
</div>

{% endblock %}