{% load static %}

<div id="main">
    <section class="features-area section_gap">
        <div class="container">
            <div class="row features-inner">
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6" style="display:flex;align-items: center;justify-content: center;">
                    <div class="single-features">
                       
                        <h3>{{product_details.name}}</h3>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <img width="200px" height="200px" src="{{product_details.image.url}}" alt="Not Found">
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6" style="display:flex;align-items: center;justify-content: center;">
                    <div class="single-features">
                        {% if not user.is_authenticated %}
                        <div>
                            <button class="btn btn-large" onclick='addToCart("{{product_details.id}}",this)' id="add">Add to Cart</button>
                            <a href="#" onclick="viewCart()" style="display: none" id="cart">View Cart</a>
                        </div>
                        {% else %}
                            <!-- <form action="{% url 'product:add' %}" method="post"> -->
                                <!-- {% csrf_token %} -->
                                <input type="text" id="p_id" hidden name="product" value="{{product_details.id}}">
                                <button onclick="addcart()" id="add">Add to Cart</button>
                            <!-- </form> -->
                            <a href="{% url 'product:cart' %}" style="display: none" id="cart">View Cart</a>
                        {% endif %}
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="{% static 'img/features/f-icon4.png' %}" alt="">
                        </div>
                        <h6>Secure Payment</h6>
                        <p>Free Shipping on all order</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% if cart %}
<script>
    document.getElementById('add').style.display="none";
    document.getElementById('cart').style.display="inline";
    console.log("{{cart}}")
</script>
{% else %}
<script>
    console.log("{{cart}}")
    function addToCart(id,btn) {
        document.getElementById('cart').style.display="none";
        document.getElementById('add').style.display="inline";
    }
</script>
{% endif %}