{% load mathfilters %}
{% load static %}

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
        <div class="table-responsive">
        {% if cart_list|length == 0%}
        <center><h3>Cart is Empty!</h3></center>
        {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">MRP</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Remove Item</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for item in cart_list %}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{item.product.image.url}}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p>{{item.product}}</p>
                                    </div>
                                </div>
                            </td>
                            {% if not user.is_authenticated %}
                            <td>{{item.mrp}}</td>
                            <td class="cost">{{item.mrp|mul:item.quantity}}</td>
                            {%else%}
                            <td>{{item.product.mrp}}</td>
                            <td class="cost">{{item.product.mrp|mul:item.quantity}}</td>
                            {%endif%}
                            <td>
                                <div>
                                        {% if user.is_authenticated %}
                                        <!-- <form action="{% url 'product:update_cart' item.id %}" method="post">
                                            {% csrf_token %} -->
                                            <select name="quantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                              </select>
                                            <button class="update" onclick="updateCart(this,'{{item.id}}')">Update</button>
                                        <!-- </form> -->
                                        {%else%}
                                        <select name="quantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                        </select>
                                        <button class="update" onclick="update('{{item.id}}',this)">Update</button>
                                        {%endif%}                                
                                    </div>
                            </td>
                            <td>
                                    {% if user.is_authenticated %}
                                        <!-- <form action="{% url 'product:remove_cart_product' item.id %}" method="post"> -->
                                            <!-- {% csrf_token %} -->
                                            <button onclick="deleteCart('{{item.id}}')">Remove product</button>
                                        <!-- </form> -->
                                    {%else%}
                                        <button  onclick="remove('{{item.id}}')">Remove product</button>
                                    {%endif%}
                             </td>
    {% endfor %}

                        </tr>
                        
                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                        <p>Total - Rs <span id="total"></span></p>
                                    </div>
                                </td>
                                    <td>
                                        {% if user.is_authenticated %}
                                        <p><button onclick="checkout()">Checkout</button></p>
                                 {%else%} 
                                        <P>Please <a href="/accounts/login">Login</a> to checkout</P>
                                        {%endif%}
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
<script>
    select_element=document.getElementsByTagName('select')
</script>
{% for item in cart_list %}
<script>
    select_element['{{forloop.counter0}}'].value='{{item.quantity}}';
</script>
{%endfor%}
<script>
    cost_elemtnts=document.getElementsByClassName('cost')
    sum=0;
    for(i=0;i<cost_elemtnts.length;i++){
        sum+=Number(cost_elemtnts[i].textContent)
    }
    document.getElementById('total').textContent=sum
</script>
    