{% extends "account/base.html" %}
{% load static %}
{% block head_links %} 

<title>Shop</title>
<!-- <style>
    a{
        background-color: beige
    }
</style> -->
{% endblock %}

{% block content %}

	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
         <div id="box" onmouseout="this.style.background='aqua';" style="font-size: large;background-color: aqua;height: 200px;" ondrop="drop(event,this)" ondragover="allowDrop(event,this)">
            <br><br>
            <center>
                <p>Add to Cart</p>
                <p>Drag and Drop the product image here</p>
            </center>
        </div>  
			<div class="row features-inner">
            {% for product in product_list %}
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img draggable="true" ondragstart="drag(event)" id="{{product.id}}" src="{{product.image.url}}" alt="">
						</div>
						<h6><a href="{% url 'product:detail' product.id %}">{{product.name}}</a></h6>
						<p>{{product.mrp}}</p>
					</div>
				</div>
			{% endfor %}
            </div>
		</div>
	</section>
    <!-- end features Area -->
    <script>
        function allowDrop(ev,box) {
            ev.preventDefault();
            box.style.background='beige';
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev,box) {
            ev.preventDefault();
            box.style.background='aqua';
            var id = ev.dataTransfer.getData("text");
            console.log(id)
            if(id>0){
                $.ajax({
                url:"{% url 'product:add' %}",
                type: "POST",
                data: {product:id,csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function(resultData) { 
                    alert("Added to cart");    
                }
            })
            }
        }
    </script>
{% endblock %}
